<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NFL Predictor</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <script src="bower_components/jquery.redirect/jquery.redirect.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/foundation.js"></script>
    <script src="js/nfl-global.js"></script>
    <script src="js/nfl-view.js"></script>
</head>

<body class="nfl">
<div class="small-12">
    <div>
        <div class="text-center page-title">
            <h2>Player Name : <span id="player"><%=player%></span></h2>
            <img class="icon-small-title" type="image/svg+xml" src="../images/Nfl_flat.svg" />
            <span class="heading-text">View Games and Results</span>
            <img class="icon-small-title" type="image/svg+xml" src="../images/Nfl_flat.svg" />
            <div class="small-centered small-12 columns">
                <select id="selectGameToView" class="small-4 small-centered" name="gameToView">
                    <option selected disabled>Select an existing game....</option>
                </select>
            </div>
        </div>

        <div class="row main-content-view">
            <div id="results-table-container" class="table-container">
                <table class="game-view-table small-centered hide">
                    <thead id="result-table-header" class="table-header">
                        <tr class="result-table-header-row text-center">
                            <th class="text-center">Road Team</th>
                            <th class="text-center"></th>
                            <th class="text-center">Home Team</th>
                        </tr>
                    </thead>
                    <tbody id="result-table-body" class="table-body"></tbody>
                    <tfoot id="result-table-footer" class="table-footer"></tfoot>

                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>