<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>NFL Predictor - Welcome</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/foundation.css">
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/foundation.js"></script>
	<script src="js/nfl-global.js"></script>
	<script src="js/nfl-init.js"></script>
	<script src="js/nfl-welcome.js"></script>
</head>

<body class="nfl">
	<div class="row">
		<div class="small-12 columns">
			<div class="row small-12">
				<div class="small-12 small-centered text-center heading-text">
					<h1>NFL Predictor | <%= page %></h1>
				</div>
			</div>

			<div class="small-6 columns inline">
				<img class="home-icon" src="../images/Nfl_logo.gif" />
			</div>
			<div class="small-6 columns inline">
				<form id="welcomeForm" method="GET" action="redzone">
					<div class="row">

						<div class="small-12 columns player-options-container">
							<input type="text" id="playername" name="playername" placeholder="Enter a player name" />
							<input id="addPlayerBtn" class="small-centered small-6 std-button" value="Add Player" />
							<h3 class="text-center base-color-text">OR</h3>
							<label for="selectPlayer" class="text-left base-label">Select Current Player</label>
							<select id="selectPlayer" name="oldplayer" class="text-center">
						<option selected disabled>Select player....</option>
					</select>
						</div>

						<div class="small-12 columns game-buttons-container hide">
							<input class="std-button small-12" id="newgame" name="newgame" value="Start New Game" />
							<input class="std-button small-12" id="oldgame" name="oldgame" value="Join Existing Game" />
							<input class="std-button small-12" id="viewgame" name="viewgame" value="View Game And Results" />
						</div>
						<div class="small-12 columns oldgame-info-container hide">
							<div class="small-centered small-12 columns">
								<select id="selectGame" name="oldGame">
									<option selected disabled>Select an existing game....</option>
								</select>
							</div>
							<div class="small-12 columns">
								<input class="small-centered small-6 std-button" name="playAction" formaction="redzoneExistingGame" type="submit" value="Play" />
							</div>
						</div>


						<div class="small-12 columns newgame-info-container hide">
							<div class="small-12 columns">
								<input type="text" id="gamename" name="gamename" placeholder="Enter a game name" />
							</div>

							<div class="small-12 columns">
								<input class="small-centered small-6 std-button" name="playAction" type="submit" value="Play" />
							</div>

						</div>
					</div>
					<h3 class="hide message error"></h3>
				</form>
				<div>
					<% if(errorMessage != "") { %>
						<h3 class="error message">
							<%=errorMessage%>
						</h3>
						<% } %>
				</div>
			</div>

		</div>

	</div>

</body>

</html>
